@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box; }

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif; }

header h1 {
  margin: 10px;
}

.city {
  align-items: center;
  justify-content: center;
  gap: 20px;
  display: flex;
  font-size: 12px;
  background-color: #eaeaea;
  padding: 1px; }

i.fa-solid.fa-location-dot {
  font-size: 20px; }

.discover {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 60px; }

.discover h2 {
  margin: 0px 50px 20px 50px;
  font-size: 28px;
  padding-top: 40px; }

.discover p {
  margin: 10px 15px 30px 15px;
  font-size: 19px; }

.discover button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: white;
  border-radius: 20px;
  height: 50px;
  width: 225px;
  box-shadow: 5px 5px 10px lightgrey;
  transition: all 200ms; }

.discover button:hover {
  cursor: pointer;
  transform: scale(1.03); }
