footer{
    
    background-color: #353535;
    padding-left: 20px;
    padding-bottom: 30px;


    h2{
        font-family: 'Shrikhand', cursive;
        color: white;
        margin-top:0px;
        padding-top: 20px;
        font-size: 18px;
        font-weight: 400;
    }

    p, a{
        margin: 6px 0px;
        color:white;
    }

    i{
        margin-right: 7px;
        width:14px;
    }
}

