@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import"./loader.scss";
@import "./base.scss";
@import"./header.scss";
@import"./menus.scss";
@import"./footer.scss";
@import"./restaurant.scss";



.city {
    align-items: center;
    justify-content: center;
    gap: 20px;
    display: flex;
    font-size: 12px;
    background-color: #eaeaea;
    padding: 1px;

}

i.fa-solid.fa-location-dot {
    font-size: 20px;
}

.discover {
    text-align: center;
    background-color: #f6f6f6;
    padding-bottom: 60px;
}

.discover h2 {
    color: black;
    margin: 0px 50px 20px 50px;
    font-size: 28px;
    padding-top: 40px;
}

.discover p {
    margin: 10px 15px 30px 15px;
    font-size: 19px;
}

.discover button {
    background-image: linear-gradient(#FF79DA, #9356DC);
    border: none;
    color: white;
    border-radius: 20px;
    height: 50px;
    width: 225px;
    box-shadow: 5px 5px 10px lightgrey;
    transition: all 200ms;
}

.discover button:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.functioning {
    padding: 0px 10px;
    margin-bottom: 65px;
    margin-top: 40px;

    h2 {

        padding-left: 13px;
        font-size: 25px;
    }

}



.detail-functioning {
    margin: 10px;
    flex-wrap: wrap;

}

.detail-functioning div {
    background-color: #f6f6f6;
    padding: 26px 20px;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px lightgrey;
    transition: all 200ms;
    display: flex;
}


.button-fonctioning:hover {
    cursor: pointer;
    transform: scale(1.03);
    background-color: rgb(226, 191, 226);

    i {
        color: #9356DC;
    }
}



.detail-functioning i {
    margin-left: 10px;
    margin-right: 30px;
    color: grey;
    font-size: 20px;
}

.detail-functioning span {
    background-color: #9356DC;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    position: relative;
    right: 25px;
    font-size: 12px;
    display: grid;
    place-items: center;
    font-weight: bolder;
}